.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111vh;
}

.loginForm {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputGroup {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #218fc4;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  position: relative;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center; /* Center the button */
}

button[type="submit"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #d1bd09;
  border-radius: 49%;
  transition: width 0.3s ease, height 0.3s ease;
  z-index: -1;
}

button[type="submit"]:hover::before {
  width: calc(111% + 20px);
  height: calc(111% + 20px);
}

button[type="submit"]:hover {
  transform: scale(1.05);
}

button[type="submit"] {
  transition: transform 0.2s ease-in-out;
}
